
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #808080;
}

.well {
  background-color: floralwhite;
}

.name{
  color: #dd550c;
}

.profilePicture{
  height: 220px;
  float: center;
  margin-top: -75;
  border-style: outset;
  border: solid grey 2px;
}

.nametitle {
  color: #03244d;
  font-weight: bold;
}

.name1 {
  color: white;
  font-weight: bold
}

.name2{
  color: #dd550c;
}

.namecontent{
  color: white;
}

.titlecode {
  color: #03244d;
}

.description {
  color: white;
  font-weight: bold;
}

.titlerepo {
  color: black;
  font-weight: bolder;
}

.module {
  background: white;
  border: 1px solid #ccc;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe-7 {
  color: white;
  background: repeating-radial-gradient(
    circle,
    black,
    black 10px,
    #03244d 10px,
    #03244d 20px
  );
}

.githubrepotitle {
  color: black;
}

ul {
  list-style-type: none;
}

.skills-list span {
  font-size: 80px;
}

.skills-list {
  margin-top: 30px;
  color: black;
}

.name7 {
  color: white;
}

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}

.grow:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.circle:hover{
        border-radius:50%;
}

.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
